// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: white;
}

h4 {
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

.product {
  color: black;
}

.product:hover {
  color: black;
}

.review {
  max-width: 50%;
}

.btn {
  background-color: green;
  color: white;
}

.review-button {
  background-color: #f4ad42;
}

.delete-button {
  background-color: #e23838;
}
